        #parrafos {
    color:#f8f9fa;
        }
        h1 {
    color: #f8f9fa;
        }
        p {
    color: #f8f9fa;
        }
        blockquote {
    color: #f8f9fa;
        }
        h2 {
    color: #f8f9fa;
        }
        body {
    background-image: url(imgs/bg.jpg);
        }
        table {
    background-image: url(imgs/bg2.jpg);
        }